body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line{
    border-top: 40px solid black;
}
.flexbody{
    display: flex;
}
.menu{
    width: 40vh;
}
.content{
    width: 60vh;
}
.topmenu{
    border-bottom: 1px solid rgb(204, 200, 200);
}
#welcome{
    display: inline-block;
    position: relative;
    bottom: 50px;
}
#profile{
    width: 60px;
    height: 60px;
    padding: 20px; 
}

.menuaside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuaside p{
    font-size: 20px;
    padding-left: 15px;
}

.menuaside a{
    text-decoration: none;
    padding: 10px;
    color: black;
    padding-left: 30px;
    font-size: 15px;
}

.menuaside a:hover{
    background-color: #2196F3;
    color: white;
}

.menuaside a#active{
    background-color: #2196F3;
    color: white;
}

#pcontent{
    text-align: left;
}