body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line{
    border-top: 40px solid black;
}

#logo{
    font-weight: bold;
    text-align: right;
    position: relative;
    bottom: 60px;
    font-size: 25px;
    color: white;
    padding-right: 10px;
}