body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.line{
    border-top: 40px solid black;
}
.flexbody{
    display: flex;
}
.menu{
    width: 40vh;
}
.contentmain{
    width: 100%;
    background-color: #F1F1F1;
    height: 100vw;
}
.topmenu{
    border-bottom: 1px solid rgb(204, 200, 200);
}
#welcome{
    display: inline-block;
    position: relative;
    bottom: 50px;
}
#profile{
    width: 60px;
    height: 60px;
    padding: 20px; 
}

.menuaside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuaside p{
    font-size: 20px;
    padding-left: 15px;
}

.menuaside a{
    text-decoration: none;
    padding: 10px;
    color: black;
    padding-left: 30px;
    font-size: 15px;
}

.menuaside a:hover{
    background-color: #2196F3;
    color: white;
}

.menuaside a#active{
    background-color: #2196F3;
    color: white;
}

#pcontent{
    text-align: left;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contetside{
    width: 300px;
    height: 150px;
    margin-top: 30px;
    color: white;
    text-align: center;
}

#mycontent{
    margin-left: 20px;
    margin-top: 50px;
}

#red{
    background-color: #F44336;
}

#blue{
    background-color: #2196F3;
}

#green{
    background-color: #009688;
}

#yellow{
    background-color: #FF9800;
}